// _m-nav.scss

.nav {
  display: flex;
  flex-direction: column;

  @include respond-to(medium) {
    display: inline-block;
  }

  &__item {
    @include transition();
    &:hover {
      display: inline-block;
      color: darken(color('foreground'), 10%);
      transform: translateY(-5px);
    }
  }
}