// _m-socials-networks.scss

.socials-networks {
  display: flex;
  justify-content: center;

  &__item {
    @include size(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .is-sticky & {
      @include size(30px);
    }
  }

  .icon {
    display: inline-block;

    &::before {
      display: inline-block;
      @include transition();
      @include font-size(35px);
      .is-sticky & {
        @include font-size(25px);
      }
    }

    &-twitter {
      &::before {
        @include font-size(37px);
        .is-sticky & {
          @include font-size(25px);
        }
      }
    }

    &-rss {
      &::before {
        @include font-size(28px);
        position: relative;
        top: -3px;

        .is-sticky & {
          @include font-size(20px);
        }
      }
    }

    &-email {
      &::before {
        @include font-size(40px);
        position: relative;
        top: 3px;

        .is-sticky & {
          @include font-size(30px);
        }
      }
    }

    &:hover {
      &::before {
        color: darken(color('foreground'), 10%);
        transform: translateY(-5px);
      }
    }
  }
}